body{
	margin:0;
	padding:0;
	width:100%;
}
 
form {
	margin: 4rem auto;
	height:100vmin;
	width:50vmin;
}

legend{
	font-size:1.4rem;
	font-weight: bold;
	margin: 2rem auto;
}
h3{
	margin:0;
}
